header {
    display: block
}

#error-data {
    display: flex;
    font-size: x-large;
    font-weight: bold;
    color: red;
    width: 100%;
    justify-content: center;
}

#link-from-login,
#link-from-registration {
    color: lightskyblue;
    cursor: pointer;
}

/* login-registration */

.button-container {
    width: 100%;
}

#registration-box,
#login-box {
    background-color: gray;
    border-radius: .5rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    margin: auto;
}

.password-container,
.username-container,
.confirm-password-container,
.button-container {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-bottom: 1rem;
}

.registration-control,
.login-control {
    display: flex;
    flex-direction: column;
}

.registration-control input,
.login-control input {
    width: 100%;
    height: 2rem;
    font-size: large;
}

#registration-submitBtn,
#login-submitBtn {
    background-color: dodgerblue;
    border: 0;
    color: white;
    height: 2rem;
    border-radius: .5rem;
    font-size: large;
    width: -webkit-fill-available;
    cursor: pointer;
}

#submitBtn,
#startSearchBtn,
.paginator-item{
    cursor: pointer;
}

#search-movie {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

#search-movie input {
    height: 2rem;
    font-size: large;
    width: -webkit-fill-available;
}

#search-movie button {
    background-color: dodgerblue;
    border: 0px;
    font-size: large;
    height: 1.5rem;
    width: -webkit-fill-available;
}

#search-movie div {
    font-size: large;
}

/* Menu start */

.menu-button:first-child {
    border-left: 2px solid black;
}

.menu-button {
    cursor: pointer;
    background: transparent;
    border: 0px;
    border-right: 2px solid black;
    height: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-position: center;
}

.active {
    color: white;
    background-color: orange;
}

#menu-container {
    display: flex;
    justify-content: last baseline;
    background-image: linear-gradient(to right, gray, white);
    margin-bottom: .5rem;
}

#menu-container div {
    position: absolute;
    right: 0;
}

#active-user-container {
    font-size: large;
    margin-right: .5rem;
}

/* Menu end */

/* Filters-categories end */

#filter-categories {
    display: flex;
    flex-direction: row;
}

#search-toolbar {
    background-image: linear-gradient(to right, gray, white);
    display: flex;
    flex-direction: row;
}

#filter-categories div {
    padding: .5rem;
    border-left: 2px solid black;
    cursor: pointer;
}

#filter-categories div:last-child {
    border-right: 2px solid black;
}

#expand-dropdown-genres button {
    background: transparent;
    border: 0px;
    cursor: pointer;
}

#expand-dropdown-genres {
    padding: .5rem;
}

#dropdown-genres {
    height: 5rem;
    overflow-y: scroll;
    display: none;
}

#dropdown-genres label {
    display: block;
}

#select-genres {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#select-genres select {
    width: 100%;
    font-weight: bold;
}

#submit-form {
    display: none;
}

#submit-form button {
    width: 100%;
    background: transparent;
    border: 1px solid black;
}

.ACTIVE-CATEGORY {
    background-color: orange;
}

/* Filters-categories end */

.movies-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#favorite-movies-list,
#watch-list-movies-list,
#search-movies-list,
#home-movies-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 10px;
    flex-wrap: wrap;
    width: 100%;
}

/* Details start */
#home-movies-list-details,
#favorite-movies-list-details,
#search-movies-list-details,
#watch-list-movies-list-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-width: 50%;
    border-radius: 2.5rem;
    background-color: slategray;
    justify-content: center;
}

#details-buttons-container {
    margin: .5rem;
}

#close-details-button {
    width: 2rem;
    height: 2rem;
    margin-top: .5rem;
    margin-right: 1rem;
    background-position: center;
    background-size: auto;
    background-color: transparent;
    border: 0px;
    position: absolute;
    cursor: pointer;
}

#details-name {
    width: 100%;
}

#details-name a {
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
}

#details-buttons-container,
.buttons-container {
    margin-top: .1rem;
    margin-left: .1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#details-head {
    width: 100%;
    display: flex;
    font-size: 40px;
    text-align: center;
    color: ghostwhite;
    font-weight: bold;
    justify-content: space-between;
}

#details-head:last-child {
    position: absolute;
    right: 0;
}

#details-img img {
    max-height: 100%;
    max-width: 100%;
    width: -webkit-fill-available;
    object-fit: cover;
}

#details-overview {
    padding-bottom: 1rem;
    font-size: larger;
    margin-left: 1rem;
    margin-right: 1rem;
    color: ghostwhite
}

#details-description {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

#details-description label {
    margin-right: .5rem;
}

/* Details end */

/* Paginator start */

#pages-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pages-toolbar div {
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    width: auto;
    height: auto;
    text-align: center;
    background-color: gainsboro;
}

#pages-toolbar #active-page {
    background-color: orange;
    color: black;
}

/* Paginator end */

/* Spinner start */

.loader {
    margin: 20%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide-loader {
    display: none;
}

/* Spinner end */

.movie-item-info{
    cursor: pointer;
}

.movie-item {
    width: 160px;
    margin: .5rem;
    font-size: .75rem;
}

.movie-item img {
    width: 160px;
    padding: 1px;
}

.movie-item a {
    font-weight: bold;
    color: darkcyan
}

.like-btn,
.watch-btn {
    /* border-radius: 25%; */
    border: 0px;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: auto;
    background-color: transparent;
    border-radius: 50%;
    background-color: white;
}

.BLURE {
    filter: blur(8px);
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.selectedBTN {
    background-color: green;
    /* border: 3px solid black; */
}

@media screen and (max-width: 1000px) {

    #pages-toolbar div {
        margin: .15rem;
    }

    .menu-button {
        width: 2.5rem;
    }

    .movie-item img {
        width: 80%;
    }

    #details-overview {
        font-size: initial;
    }

    #details-head {
        font-size: 30px;
    }

    #pages-toolbar {
        justify-content: space-evenly;
    }

    #home-movies-list-details,
    #favorite-movies-list-details,
    #search-movies-list-details,
    #watch-list-movies-list-details {
        min-width: 75%;
    }
}